@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Outfit, Helvetica;
}

body {
  background-color: #02060f;
  color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  height: 80px;
}

.container {
  align-items: center;
  justify-content: center;
  max-width: 1140px;
  width: 100%;
  display: flex;
}

header .container {
  justify-content: space-between;
}

.logo h2 {
  font-size: 22px;
  font-weight: bold;
}

.logo h2 span {
  font-weight: 300;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  list-style: none;
}

.menu ul a {
  color: #fff;
  text-decoration: none;
}

.menu ul li {
  position: relative;
}

.menu ul a::before {
  content: "";
  position: absolute;
  height: 1px;
  background: linear-gradient(90deg, #8000ff, #0083cd);
  transform-origin: right;
  bottom: -10px;
  transform: scaleX(0);
  transition: transform 0.4s ease;
  width: 60%;
}

.menu ul a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

main .container {
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.hero {
  height: calc(100vh - 80px);
  width: 100vw;
}

.hero .hello {
  width: 800px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero .hello h2 {
  font-size: 72px;
  font-weight: 300;
}

.hero .hello h2 span {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #8000ff, #0083cd);
}

.hero .contact {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.hero .contact h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 1.4em;
}

.hero .contact p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6em;
  color: #ffffff60;
}
.hero .contact .bt-hero {
  display: flex;
  gap: 20px;
}

.hero .contact a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #000;
  padding: 18px 25px;
  background-color: #fff;
  border-radius: 8px;
}

.hero .contact a:nth-of-type(1) {
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  padding: 18px 25px;
  background: linear-gradient(90deg, #8000ff, #0083cd);
  border-radius: 8px;
}

.divider {
  width: 30%;
  height: 1px;
  background-color: #ffffff10;
}

.hero .photo {
  width: 600px;
  height: 600px;
  background-image: url(/assets/img/my-photo2.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 767px) {
  header {
    padding: 20px;
  }

  main .container {
    flex-direction: column;
    padding: 20px;
  }

  .hero .photo {
    width: 100%;
    max-width: 500px;
    background-image: url(/assets/img/my-photo2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero .hello {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .hero .hello h2 {
    font-size: 42px;
    text-align: center;
  }

  .hero .hello h2 span {
    font-size: 16px;
  }

  .hero .contact h2 {
    font-size: 28px;
    text-align: center;
  }

  .hero .contact p {
    font-size: 18px;
    text-align: center;
  }

  .hero .contact a {
    font-size: 16px;
    padding: 13px 20px;
    background-color: #fff;
  }

  .hero .contact a:nth-of-type(1) {
    font-size: 16px;
    padding: 13px 20px;
  }

  .logo h2 {
    font-size: 18px;
    font-weight: bold;
  }

  .hero .contact {
    align-items: center;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: #ffffff10;
  }
}
